// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-nav{
  height: 60px;
  background: white;
  z-index: 20;
  border-bottom: 1px solid gainsboro;
  .nav-content{
    @include max-width;
    @include floatFix;
  }
  ul.role-options{
    width: 250px;
    float: left;
    position: relative;
    z-index: 10;
    @include floatFix;
    li{
      display: inline-block;
      float: left;
      img{
        height: 45px;
        display: inline-block;
        margin-top: 8px;
        margin-right: 5px;
        cursor: pointer;
        opacity: 0.4;
        @include transition;
        &.active{
          opacity: 1;
        }
      }
      h5{
        margin-left: 5px;
        color: #555555;
        span.role{
          color: gainsboro;
        }
      }
    }
  }
  .nav-logo{
    left: 0;
    right: 0;
    position: absolute;
  }
  img{
    height: 60px;
    margin: auto;
    display: block;
  }
  ul.user-panel{
    width: 400px;
    float: right;
    position: relative;
    z-index: 10;
    li{
      height: 60px;
      line-height: 60px;
      display: inline-block;
      float: right;
      padding-left: 10px;
      padding-right: 10px;
      h5{
        margin: 0;
      }
      img{
        height: 25px;
        margin-top: 17px;
      }
    }
    .cart-popup{
      width: 200px;
      height: 200px;
      background: white;
      position: absolute;
      margin-left: -85px;
      margin-top: 20px;
      border: 1px solid gainsboro;
      border-radius: 5px;
      display: none;
      &.active{
        display: block;
      }
      &:before{
        content: '';
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        background: #EAEAEA;
        top: -10px;
        z-index: -1;
        margin: 0 auto;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
    }
  }
}


.continue-game{
  text-align: center;
  background-color: #9A4444;
  z-index: 10;
  position: relative;
  padding: 10px;
  h4{
    color:$orange;
    margin: 0px;
  }
}

.homepage-wrapper{
  z-index: 0;
  position: relative;
  @include floatFix;
}

.main-banner{
  height: 300px;
  @include floatFix;
  @include shadow;
  background: image_url('banner.png');
  &:before{
    content:'';
    width: 200px;
    position: absolute;
    left: 0;
    background: gray;
    height: 300px;
    /* Rectangle 1 Copy 4: */
    background: linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.3;
  }
  &:after{
    content:'';
    width: 200px;
    top: 40px;
    position: absolute;
    right: 0;
    background: gray;
    height: 300px;
    background: linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.3;
  }
  .main-panel{
    @include max-width;
    @include floatFix;
  }
  img{
    position: absolute;
  }
  ul.feature-panel{
    z-index: 5;
    position: relative;
    width: 300px;
    height: 300px;
    float: right;
    cursor: pointer;
    @include shadow;
    background-image: linear-gradient(top, #E78840 0%, #F7665B 100%);
    background-image: -webkit-linear-gradient(top, #E78840 0%, #F7665B 100%);
    background-image: -moz-linear-gradient(top, #E78840 0%, #F7665B 100%);
    background-image: -ms-linear-gradient(top, #E78840 0%, #F7665B 100%);
    &:before{
      content: '';
      background-color: white;
      width: 80%;
      margin: 0 auto;
      height: 1px;
      position: absolute;
      left: 26px;
      top: 150px;
      opacity: 0.1;
    }
    &:after{
      content: '';
      background-color: white;
      height: 80%;
      width: 1px;
      position: absolute;
      right: 150px;
      opacity: 0.1;
      top: 26px;
    }
    li{
      text-align: center;
      display: inline;
      float: left;
      width: 150px;
      height: 150px;
      padding-top: 30px;
      @include transition;
      &:hover, &:focus{
        background-color: rgba(255, 188, 77, 0.19);
      }
      img{
        height: 50px;
        display: block;
        margin: 0 auto;
        position: relative;
      }
      h4{
        color: white;
      }
    }
  }
}

.product-content-wrapper{
  width: 100%;
  background: white;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 0px -3px 10px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px -3px 10px -3px rgba(0,0,0,0.4);
  box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.2);
}

.product-content{
  background-color: white;
  @include floatFix;
  @include max-width;
  .products-by-category{
    @include floatFix;
    border-left: 1px solid #E8E8E8;
  }
  .products{
    padding:20px 30px 0px 230px;
    float: left;
    width: 100%;
    .product-row{
      @include responsiveLargeWidth;
      @include floatFix;
      margin: 0 auto;
      li.product-title{
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 35px;
        h3{
          color: #D0D0D0;
        }
      }
      li.product-cell{
        display: inline-block;
        float: left;
        margin-top: 15px;
        @include responsiveSmallWidth;
        h5{
          text-align: center;
        }
        img{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  ul.product-filter{
    @include floatFix;
    padding: 30px 15px 0px 30px;
    width: 230px;
    position: absolute;
    .filter-title{
      margin-top: 15px;
    }
    .filter-search{
      padding-bottom: 30px;
      border-bottom: 1px solid gainsboro;
      .search-bar{
        width: 160px;
      }
    }
  }
}
